@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--------------------------------colors*/

.bg-color-name-title{
    background-color: #186829;    
}

.bg-color-background-info{
    background-color: #f4f4f4;
}

.bg-color-content{
    background-color: #ffffff;
}

.bg-color-work-history{
    background:#9b59b6;
}

.bg-color-contact{
    background-color: #ffffff;
}

.ui-menu-color-home{
    background-color: #bc1621;
}
.ui-menu-color-history{
    background-color: #360f6d;
}
.ui-menu-color-contact{
    background-color: #3498db;
}
.ui-menu-color-download{
    background-color: #687fa5;
}

body{
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    background-color: #525252;
    color:#555555;
}

/*--------------------------------Social Padding/Margins/Text */


h1,
h2,
h3,
h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo" , sans-serif;
    font-weight: 300;
    color:#fafafa;
}

.inline-block {
    display: inline-block;
}


.row-table{
    display: table;
}
.past-events-heading{
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top:25px;
    margin-bottom: 40px; 
}
.history-heading,
.section-heading{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top:25px;
    margin-bottom: 40px;
}


/*--------------------------------heading*/
header{
    margin:0;
}

.logo { 
    background:url("../images/monkees.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading {
margin-left: 50px;    
padding-top: 50px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight:100;
    font-size:46px;
    color: #ffffff;
}

.title {
    font-family:"Roboto", sans-serif;
    font-weight:200;
    font-size:28px;
    margin-top:20px;
    margin-bottom:90px;
    color: #ffffff;
}


#nav{
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align:center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height:120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color:#fafafa;
    font-size: 26px;
}


.menuitem span{
    display:block;
    width:100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}



/*--------------------------------hover.css*/
.hvr-sweep-to-bottom {
     height: 120px;
     transition: all 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -webkit-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;   
}

/*--------------------------------Footer*/

footer{
    background-color: #186829;
    color: #fafafa;
    min-height:100px;
    margin:0;
}


footer .youtube-link i{
    color:#fafafa;
    text-align: center;
    font-size: 28px;
    padding-left: 5px;
}

footer .youtube-link i:hover{
    color: #ff0022;
    transition: all 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.social-links{
    padding-bottom: 15px;
    
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height:7px;
    text-align: center;
    color: #fafafa;
    background:#8f8f8f;
    transition: all 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    
}

.social-links li a i:hover{
    background: #cfdb8e;
}

#footer-details{
    margin:20px;
    
}



/*--------------------------------Three reasons*/
.content-icon{
    font-size: 26px;
    color:#e67e22;
}

.content-heading{
    margin-bottom: 15px;
    
}


/*--------------------------------Background Info*/
.background-info-item{
    margin-bottom: 20px;
    display:block;
    clear:both;
}

.background-info-item .key,
.background-info-item .value{
    padding-right: 8px;
    
}

.background-info-item .key p,
.background-info-item .value p{
    margin:0;
    
}
.background-info-item .key{
    display:inline-block;
    width:30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    
}

.background-info-item .key p{
    font-weight: 700;
    
}

.background-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}


.history-heading{
    color: #fafafa;
    margin-bottom: 50px;
}


.history{
    margin-bottom: 30px;
}

/*--------------------------------Contact*/

.contact-heading{
    font-family:"Exo" , sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #ff5c11;
    color:#fafafa;
}

/*--------------------------------Media Queries*/

@media(min-width:992px){
    .section-column{
    padding: 0 30px 30px;
    float:none;
    display:table-cell; 
    }

    .center-form{
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
}    
    
}

/*--------------------------------Image gallery*/




.gallery {
    margin: 5px;
    float: left;
    width: 180px;
    height: 240px;
}

.gallery:hover {
    border: 0px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

